<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
        <title>Basic Usage</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link rel='stylesheet prefetch' href='css/angular-material.min.css'>
        <link rel='stylesheet prefetch' href='css/bootstrap.min.css'>
        <link rel="stylesheet" href="css/material-icons.css">
        <link rel="stylesheet" href="css/style.css">




    </head>

    <body>

        <div ng-controller="AppCtrl"  class="toolbardemoBasicUsage" ng-app="MyApp">

            <md-toolbar  class="md-hue-2  main-nav l-pinned-top l-layer-5">
                <nav>
                    <h1>
                        <a class="md-button md-ink-ripple" ng-transclude="" href="#" md-button>
                            <div class="md-ripple-container"></div></a>

                    </h1>

                    <button class="main-nav-button main-nav-mobile-trigger l-right md-button md-ink-ripple" type="button" ng-transclude="" aria-label="View Menu" ng-click="showDocsNav = !showDocsNav" md-button="md-button">
                        <span class="ng-scope">Menu </span>
                    </button>


                    <ul ng-class="showDocsNav ? 'visible' : ''">
                        <li class="l-left">
                            <a class="main-nav-button md-button md-ink-ripple" ng-transclude="" href="#" md-button="">
                                <span class="ng-scope">Features</span>
                                <div class="md-ripple-container"></div>
                            </a>
                        </li>
                        <li class="l-left">
                            <a class="main-nav-button md-button md-ink-ripple" ng-transclude="" href="#" md-button="">
                                <span class="ng-scope">Profile</span>
                                <div class="md-ripple-container"></div>
                            </a>
                        </li>
                        <li class="l-left">
                            <a class="main-nav-button md-button md-ink-ripple" ng-transclude="" href="#" md-button="">
                                <span class="ng-scope">Connection</span>
                                <div class="md-ripple-container"></div>
                            </a>
                        </li>
                        <li class="l-left">
                            <a class="main-nav-button md-button md-ink-ripple" ng-transclude="" href="#" md-button="">
                                <span class="ng-scope">Job</span>
                                <div class="md-ripple-container"></div>
                            </a>
                        </li>
                        <li class="l-right nav-icon">
                        <md-button class="md-icon-button" aria-label="More">
                            <img src="imgs/more_vert.svg"/>
                        </md-button>
                        </li>
                        <li class="l-right nav-icon">
                        <md-button class="md-icon-button" aria-label="More">
                            <img src="imgs/person.svg"/>
                        </md-button>
                        </li>
                        <li class="l-right nav-icon">
                        <md-button class="md-icon-button" aria-label="More">
                            <img src="imgs/message.svg"/>
                        </md-button>
                        </li>
                        <li class="l-right nav-icon">
                        <md-button class="md-icon-button" aria-label="More">
                            <img src="imgs/search.svg"/>
                        </md-button>
                        </li>
                    </ul> </nav>

            </md-toolbar>



            <div class="is-centered container-fluid"  >


                <div class="row">
                    <div class="col-md-8"  >

                        <div class="card-container" >

                            <md-card>


                                <div class="main-inf-container">
                                    <div class="main-info-UR" >
                                        <md-button class="md-icon-button" aria-label="More">
                                            <img src="imgs/inbox.svg" />
                                        </md-button>
                                        <md-button class="md-icon-button" aria-label="More">
                                            <img src="imgs/more_vert_2.svg" />
                                        </md-button>

                                    </div>
                                    <div class="main-info-LR" >
                                        <span>{{info.follower}}</span><div>follower</div>
                                    </div>
                                    <div class="main-fab">
                                        <md-button class="md-fab md-primary md-hue-2">
                                            <md-tooltip>
                                                Add Friend
                                            </md-tooltip>
                                            <md-icon class="material-icons">&#xE7FE;</md-icon>

                                        </md-button>
                                    </div>

                                    <md-card-title class="card-title-container">
                                        <md-card-title-media class="avatar-container">
                                            <div class="md-media-lg">
                                                <img src=" {{info.img}}"/>
                                            </div>
                                        </md-card-title-media>
                                        <md-card-title-text class="name-container" >
                                            <div class="md-headline">
                                                {{info.name}}
                                            </div>
                                            <div class="md-subhead-1">
                                                {{info.job}}
                                            </div>
                                            <div class="md-subhead-2">
                                                {{info.place}}  |   {{info.phone}}
                                            </div>

                                        </md-card-title-text>

                                    </md-card-title>

                                </div>

                                <md-divider ng-if="!$last"></md-divider>
                                <div class="tab-container">
                                    <md-tabs md-dynamic-height md-border-bottom >
                                        <md-tab  label="Background">
                                            <md-content  class="md-padding">
                                                <div class="tab-content-title-container">
                                                    <i class="material-icons icon-dark-color">&#xE85D;</i>
                                                    <span >Summary</span>
                                                </div>
                                                <div class="tab-content-text">
                                                    <p ng-repeat="item in summaryList">{{item.text}}</p>
                                                    <md-divider ng-if="!$last"></md-divider>
                                                </div>

                                                <div class="tab-content-title-container">

                                                    <i class="material-icons icon-dark-color">&#xEB3F;</i>
                                                    <span >Experience</span>
                                                </div>

                                                <div ng-repeat="item in experienceList" >
                                                    <div class="tab-content-exp-header">
                                                        <img class="l-right img-exp-header" src="{{item.logo}}"/>
                                                        <div class="text-exp-header l-left">
                                                            <span >{{item.job}}</span>
                                                            <div class="text-exp-header-sub" >{{item.where}}</div>
                                                            <div class="text-exp-header-sub-2" >{{item.time}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-content-text">
                                                        <p>{{item.summary}}</p>


                                                    </div>

                                                    <div   ng-repeat="med in item.media" >

                                                        <div ng-class=" {'visible':item.media.length > 0}"  class="media-data l-left">
                                                            <div class="media-image thumbnail" style="background-image: url({{med.img}});">
                                                                <img class="thumbnail" src="{{med.img}}"/>
                                                            </div>
                                                            <div class="media-desc"><p class="description">{{med.caption}}</p></div>
                                                        </div>
                                                    </div>


                                                </div>

                                                <md-divider ng-if="!$last" class="clear"></md-divider>



















                                            </md-content>
                                        </md-tab>
                                        <md-tab label="Connections">
                                            <md-content class="md-padding">
                                                <h1 class="md-display-2">Tab Two</h1>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                                                <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="Recomendations">
                                            <md-content class="md-padding">
                                                <h1 class="md-display-2">Tab Three</h1>
                                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="Groups">
                                            <md-content class="md-padding">
                                                <h1 class="md-display-2">Tab Three</h1>
                                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="Following">
                                            <md-content class="md-padding">
                                                <h1 class="md-display-2">Tab Three</h1>
                                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="Recent Actitity">
                                            <md-content class="md-padding">
                                                <h1 class="md-display-2">Tab Three</h1>
                                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>
                                </div>


                                <md-card-content>


                                </md-card-content>
                            </md-card>
                        </div>


                    </div>
                    <div class="col-md-4" >Row 1: Itwdawd awd awd awdawda wda wd awdawd awda wdawd a wda w em 2</div>
                </div>

            </div>



























            <script src='js/angular.min.js'></script>
            <script src='js/angular-animate.min.js'></script>
            <script src='js/angular-aria.min.js'></script>
            <script src='js/bootstrap.min.js'></script>
            <script src='js/angular-material.min.js'></script>
            <script src="js/index.js"></script>
            <script src="js/bootstrap.min.js"></script>




    </body>
</html>
